.list {
  composes: sans small from "./typography.scss";
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 100%;
}

.item.anchor {
  background: lightcyan;
}

.action-type {
  composes: bold from "./typography.scss";
  background: rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.8);
  padding: 10px 20px 10px 10px;
  cursor: pointer;
}

.action-params {
  background: rgba(0,0,0,0.1);
  list-style-type: none;
  padding: 10px 20px 10px 10px;
  margin: 0;
}