.container {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  max-width: 320px;
}

.button {
  composes: sans small bold from "./typography.scss";
  background: rgba(0,0,0,0.2);
  border-bottom: 2px solid rgba(0,0,0,0.1);
  margin: 0 0 2px 0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 3px;
  color: darkcyan;

  &.clutch {
    color: crimson;
  }

  &:first-of-type {
    margin-top: 2px;
  }

  &:focus {
    outline: 0;
  }
}
